.container { 
	background: #fff9e7 url(../images/bg.png) no-repeat bottom right;
}
.header_top {
	width: 100%;
	height: 48px;
	background: $orange;
	background: linear-gradient(#ff8331, #ff6626);
	
	.inner_header {
		display: flex;
		align-items: center;
		height: 48px;

		.logo {
			align-self: flex-end;

			img {
				display: block;
			}
		}
		.main_navigation {
			flex-grow: 2;
		}
		.header_cart {
			.fa-shopping-basket {
				color: $yellow;
			}
			.bascet {
				@include ptserif_font();
				font-style: italic;
				color: $yellow;
				font-size: 14px;
			}
			color: $white;
			@include quicksand_font();

			.cart_counter {
				border-right: 1px dotted rgba(255,255,255, 0.2);
				padding-left: 10px;
				padding-right: 10px;
				margin-right: 5px;
			}
		}

		nav {
			@include quicksand_font();

			text-transform: uppercase;

			> ul {
				font-size: 0;
				> li {
					display: inline-block;
					font-size: 12px;
					margin: 0 17px;
					border-top: 2px solid transparent;
					position: relative;
					
					ul.sub_menu {

						&::before {
							content: "";
							display: block;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 4.5px 5px 4.5px;
							border-color: transparent transparent #fff transparent;
							position: absolute;
							top: -5px;
							left: 34px;
						}
						z-index: 9;
						position: absolute;
						top: 100%;
						left: 0;
						background: $white;
						box-shadow: 5px 5px 0 rgba(0,0,0,0.07);
						li {
							margin: 0 25px;

							&:hover {
								
								a {
									color: $orange;
								}
							}
						}

						a {
							color: #7b7a79;
						}
						display: none;
					}
					&:hover {
						ul.sub_menu {
							display: block;
						}
						
						a {
							color: $yellow;
						}
						border-top: 2px solid $yellow;
					}
					a {
						color: $white;
						text-decoration: none;
						line-height: 46px;
						display: block;
					}
				}
			}
		}
	}
}

.home_slider {
	position: relative;
	z-index: 1;
	.slide {
		padding-top: 100px;
		background-position: center;
		background-size: cover;
		padding-bottom: 35px;
		min-height: 674px;
		box-sizing: border-box;
		.slide_title {
			@include fredoka_font();
			text-align: center;
			font-size: 68px;
			color: $white;
			text-shadow: 7px 7px 0 rgba(0,0,0,0.1);
			line-height: 82px;
		}
		.slide_data {
			display: flex;
			align-items: center;
			min-height: 410px;
			.slide_decription {
				width: 37%;
				z-index: 2;
				padding-left: 90px;
				.data_type {
					@include fredoka_font();
					color: $yellow;
					font-size: 24px;
					line-height: 24px;
					display: inline-block;
					margin-bottom: 25px;
				}
				.data_description {
					font-size: 12px;
					color: $white;
					line-height: 24px;
					@include relaway_font();
					font-weight: 500;
					margin-bottom: 20px;
				}
				.data_cite {
					@include ptserif_font();
					color: $white;
					line-height: 28px;
					font-style: italic;
					font-size: 23px;
				}
			}
			.image_price {
				width: 50%;
				margin-left: -60px;
				z-index: 1;
				position: relative;
				.slide_price {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 143px;
					height: 143px;
					background: #4ba321;
					color: $yellow;
					border-radius: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					span {
						@include fredoka_font();
						font-size: 54px;
						text-shadow: 7px 7px 0 rgba(0,0,0,0.1);
					}

				}
			}
		}
	}
	.slick-dots {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateX(0) translateY(-20%);
		padding-left: 40px;
		display: flex;
    	flex-direction: column;
    	li {
    		width: auto;
    		height: auto;
    		display: contents;
    	}

		button {
			&::before {
				content:"";
			}
			background: none;
			border: none;
			padding: 0;
			margin: 0;
			width: 10px;
			height: 10px;
			font-size: 0;
			background: rgba(0,0,0,0.1);
			margin-bottom: 24px;
			border-radius: 100%;
		}
		.slick-active button {
			background: rgba(0,0,0,0.4);
		}
	}
}

.about_as {
	padding: 0 0 50px 0;
	box-sizing: border-box;
	text-align: center;

	.title {
		color: #a07258;
		font-size: 54px;
		@include fredoka_font();
		display: inline-block;
		border-bottom: 1px solid rgba(160,114,88,0.3);
		line-height: 90px;
		margin-bottom: 25px;
	}
	.sub_title {
		display: block;
		color: #a07258;
		font-size: 23px;
		@include ptserif_font();
		padding: 0 7%;
		line-height: 1.4;
		margin-bottom: 40px;
	}
	.description {
		color: #a07258;
		font-size: 12px;
		padding: 0 12%;
		line-height: 18px;
	}
}