<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Exotico</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|PT+Serif:400,700|Quicksand:400,700|Raleway:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/main.min.css">
</head>
<body class="homepage">

	<header>
		<div class="header_top">
			<div class="wrapper">
				<div class="inner_header">
					<a href="index.html"><img src="assets/images/logo.png" alt="Logo"></a>
					<nav class="main_navigation">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Product</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Shop</a></li>
							<li><a href="#">Gallery</a></li>
							<li><a href="#">Contacts</a></li>
						</ul>
					</nav>
					<div class="header_cart">
						<i class="fas fa-shopping-basket"></i>
						<a href="#">Bascet</a>
						3 | $780
					</div>
				</div>
			</div>
		</div>
		<div class="slider">
			
		</div>
	</header>
	<div class="container">
		<div class="wrapper">
			
		</div>
	</div>
	<footer>
		<div class="wrapper">
			
		</div>
	</footer>
	<script src="assets/scripts/vendors.bundle.js"></script>
	<script src="assets/scripts/works.bundle.js"></script>
</body>
</html>