<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Portfolio | Мои работы</title>
    <link rel="stylesheet" href="assets/styles/main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="maincontent">
        <h1>"Мои работы"</h1>
        <i class="fas fa-adjust"></i>
        <img src="assets/images/img_slider_mini.png">
        <img src="assets/images/_DSC8712.jpg">

        <div class="autoplay-class">
          <div>your content 1</div>
          <div>your content 2</div>
          <div>your content 3</div>
          <div>your content 4</div>
          <div>your content 5</div>
          <div>your content 6</div>
          <div>your content 7</div>
          <div>your content 8</div>
          <div>your content 9</div>
        </div>

        <div class="container">
          <ul id="slides">
            <li class="slide showing"></li>
            <li class="slide"></li>
            <li class="slide"></li>
          </ul>
          <div class="buttons">
            <button class="controls" id="previous">&lt;</button>
            <button class="controls" id="next">&gt;</button>
          </div>
        </div>
      </div>
      <ul class="menu">
      	<li><a href="/index.html">Главная</a></li>
      	<li><a href="/about.html">Обо мне</a></li>
      	<li><a href="/my-works.html">Мои работы</a></li>
      	<li><a href="/blog.html">Блог</a></li>
      </ul>
      <footer class="footer">
      	<h2>Copyright &copy;</h2>
      </footer>
    </div>
    
    <script src="assets/scripts/vendors.bundle.js"></script>
    <script src="assets/scripts/works.bundle.js"></script>

    <!-- <script type="text/javascript">
      alert( "Привет" );

      $(document).ready(function(){
       alert("Приветик");
      });
    </script> -->
  </body>
</html>